body, html{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;

     /* css-tricks.com author by Chris Coyier */
     -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
     user-select: none;          /* Likely future */ 
}
::-webkit-scrollbar { 
    display: none; 
}
p{
    padding: 0;
    margin: 0;
}

.btn:hover{
    cursor: pointer;
    /* transform: scale(1.1); */
}

/* Homepage */
#homepage{
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('img/000home/homebg.png');
    background-size:100% 100%;
    
}
#hplogo{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    /* width: 400px;
    height: 230px; */
    width: 30vw;
    height: 18vw;
    background-image: url('img/000home/logocf648_390.png');
    background-size:100% 100%;
}
#cthp1{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -62%);
    text-align: center;
    font-size: 1.5vw;
}
#cthp2{
    opacity: 0;
    position: absolute;
    /* width: 250px;
    height: 90px; */
    width: 17vw;
    height: 6vw;
    background-image: url('img/000home/hpbtn1.png');
    background-size:100% 100%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
}
.btnhp{
    position: absolute;
    font-size: 2.8vw;
    padding: 0;
    margin: 0;
    left: 22%;
    top: 50%;
    transform: translate(-10%, -50%);
    color: white;
}

/* Clean field */
#cleanfield{
    position: relative;
    width: 100%;
    height: 270vw;
    background-image: url('img/001intro/cleanfieldbg.png');
    background-size:100% 100%;
    display: none;

}

#ctcf1, #ctcf2, #ctcf3{
    position: relative;
    width: 100%;
    height: 90vw;
}
/* Font size*/
.cftxt1{
    font-size: 5.6vw;
    color: #35A869;
}
.cftxt2{
    font-size: 1.7vw;
}
.cftxt3{
    font-size: 3vw;
    color: #35A869;
}
.cftxt4{
    font-size: 3vw;;
}
.cftxt5{
    position: absolute;
    font-size: 3.5vw;
    color: white;
    left: 20%;
    top: 50%;
    transform: translate(-10%, -50%);
}
#cf11{
    position: absolute;
    /* width: 590px;
    height: 264px; */
    width: 30.7vw;
    height: 15vw;
    top: 31%;
    left: 15.2%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf12{
    position: absolute;
    /* width: 590px;
    height: 264px; */
    width: 30.7vw;
    height: 15vw;
    top: 38%;
    left: 15.2%;
}
#cf13{
    position: absolute;
    /* width: 630px;
    height: 160px; */
    width: 32.8vw;
    height: 9vw;
    top: 50%;
    left: 15.2%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}

#cf14_sun{
    position: absolute;
    /* width: 424px;
    height: 437px; */
    width: 30vw;
    height: 25vw;
    /* background-color: rgba(255, 0, 0, 0.50); */
    background-image: url('img/001intro/cfsun.gif');
    background-size:100% 100%;
    top: 21%;
    left: 40%;
}
#cf15_windmill{
    position: absolute;
    /* width: 539px;
    height: 641px; */
    width: 30vw;
    height: 38vw;
    /* background-color: rgba(255, 0, 0, 0.50); */
    background-image: url('img/001intro/cfwindmill.gif');
    background-size:100% 100%;
    top: 67%;
    left: 40.5%;
}

#cf21{
    position: absolute;
    /* width: 293px;
    height: 161px; */
    width: 30.7vw;
    height: 15vw;
    top: 20%;
    left: 15.2%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf22{
    position: absolute;
    /* width: 293px;
    height: 161px; */
    width: 35vw;
    height: 15vw;
    top: 23%;
    left: 15.2%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf23{
    position: absolute;
    /* width: 630px;
    height: 160px; */
    width: 31.2vw;
    height: 9vw;
    top: 32%;
    left: 15.2%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}

#cf31{
    position: absolute;
    /* width: 293px;
    height: 161px; */
    width: 42vw;
    height: 15vw;
    top: 30%;
    left: 29%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf32_wind{
    position: absolute;
    /* width: 293px;
    height: 161px; */
    background-image: url('img/001intro/windicon.png');
    background-size:100% 100%;
    width: 10vw;
    height: 15vw;
    top: 40%;
    left: 22%;
}
#cf32_solar{
    position: absolute;
    /* width: 293px;
    height: 161px; */
    background-image: url('img/001intro/sunicon.png');
    background-size:100% 100%;
    width: 10vw;
    height: 15vw;
    top: 40%;
    left: 37%;
}
#cf32_bio{
    position: absolute;
    /* width: 293px;
    height: 161px; */
    background-image: url('img/001intro/bioicon.png');
    background-size:100% 100%;
    width: 10vw;
    height: 15vw;
    top: 40%;
    left: 52%;
}
#cf32_water{
    position: absolute;
    /* width: 293px;
    height: 161px; */
    background-image: url('img/001intro/watericon.png');
    background-size:100% 100%;
    width: 10vw;
    height: 15vw;
    top: 40%;
    left: 67%;
}
#cf33{
    position: absolute;
    /* width: 170px;
    height: 32px; */
    width: 9vw;
    height: 2.5vw;
    top: 60%;
    left: 23%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf341{
    position: absolute;
    /* width: 170px;
    height: 32px; */
    width: 9vw;
    height: 2.5vw;
    top: 60%;
    left: 39%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf342{
    position: absolute;
    /* width: 170px;
    height: 32px; */
    width: 9vw;
    height: 2.5vw;
    top: 62%;
    left: 37.9%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf351{
    position: absolute;
    /* width: 170px;
    height: 32px; */
    width: 9vw;
    height: 2.5vw;
    top: 60%;
    left: 54%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf352{
    position: absolute;
    /* width: 170px;
    height: 32px; */
    width: 9vw;
    height: 2.5vw;
    top: 62%;
    left: 54.6%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cf36{
    position: absolute;
    /* width: 170px;
    height: 32px; */
    width: 9vw;
    height: 2.5vw;
    top: 60%;
    left: 68.5%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#cfbtn{
    position: absolute;
    /* width: 460px;
    height: 140px; */
    width: 24vw;
    height: 8vw;
    background-image: url('img/000home/hpbtn1.png');
    background-size:100% 100%;
    left: 50%;
    top: 80%;
    transform: translate(-48%, -85%);
}

/* Village */
@keyframes fadeShow{
    0%{transform:translateY(-20px);
        opacity: 0;
    }
    25%{transform:translateY(-15px);
        opacity: 0.25;
    }
    100%{transform:translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeOff{ 
    0%{transform:translateY(0px);
        opacity: 1;
    }
    25%{transform:translateY(-15px);
        opacity: 0;
    }
    100%{transform:translateY(-20px);
        opacity: 0;
    }
}
#btnhow21{
    position: absolute;
    width: 8vw; 
    height: 5vh;
    top: 10px;
    right: 0px;
}
.how2w{
    font-size: 1.8vw;
    color: rgb(255, 132, 0);
    text-decoration: underline;
}

#village{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('img/002village/villagebg.png');
    background-size:100% 100%;
    display: none;
}
#vill_waterflow1{
    position: absolute;
    /* width: 1008px;
    height: 756px; */
    width: 90vw;
    height: 50vw;
    background-image: url('img/002village/waterflow1.gif');
    background-size:100% 100%;
    left: 80%;
    top: 65%;
    transform: translate(-54.5%, -30%);
}
#vill_waterflow2{
    position: absolute;
    /* width: 1008px;
    height: 756px; */
    width: 90vw;
    height: 50vw;
    background-image: url('img/002village/waterflow2.gif');
    background-size:100% 100%;
    left: 15%;
    top: 82%;
    transform: translate(-30%, -30%);
}

#wind{
    position: absolute;
    /* width: 275px;
    height: 220px; */
    width: 20vw;
    height: 28vh;
    left: 10%;
    top: 25%;
    transform: translate(-10%, -25%);
    background-image: url('img/002village/wind0.png');
    background-size:100% 100%;
}
#water{
    position: absolute;
    /* width: 270px;
    height: 180px; */
    width: 25vw;
    height: 25vh;
    left: 5%;
    top: 90%;
    transform: translate(-5%, -90%);
    background-image: url('img/002village/water0.png');
    /* background-image: url('img/002village/water1.png'); */
    background-size:100% 100%;
}
#bio{
    position: absolute;
    /* width: 150px;
    height: 200px; */
    width: 15vw;
    height: 26vh;
    left: 54%;
    top: 73%;
    transform: translate(-54%, -73%);
    background-image: url('img/002village/bio0.png');
    /* background-image: url('img/002village/bio1.png'); */
    background-size:100% 100%;
}
#solar{
    position: absolute;
    /* width: 308px;
    height: 137px; */
    width: 20vw;
    height: 15vh;
    left: 97%;
    top: 36%;
    transform: translate(-97%, -36%);
    background-image: url('img/002village/solar0.png');
    /* background-image: url('img/002village/solar1.png'); */
    background-size:100% 100%;
}
#ref{
    position: absolute;
    /* width: 266px;
    height: 242px; */
    width: 14vw;
    height: 21vh;
    left: 55%;
    top: 35%;
    transform: translate(-97%, -35%);
    background-image: url('img/002village/factory.png');
    /* background-image: url('img/002village/solar1.png'); */
    background-size:100% 100%;
}


.btnvill1{
    position: absolute;
    font-size: 2.8vw;
    padding: 0;
    margin: 0;
    left: 30%;
    top: 53%;
    transform: translate(-20%, -53%);
    color: white;
}
.btnvill2{
    position: absolute;
    font-size: 2.8vw;
    padding: 0;
    margin: 0;
    left: 20%;
    top: 50%;
    transform: translate(-8%, -50%);
    color: white;
}
.btnvill3{
    position: absolute;
    font-size: 2.8vw;
    padding: 0;
    margin: 0;
    left: 12%;
    top: 50%;
    transform: translate(-4%, -50%);
    color: white;
}
#btnwater{
    position: absolute;
    /* width: 250px;
    height: 70px; */
    width: 20vw;
    height: 9vh;
    background-image: url('img/002village/water_wind388_114.png');
    background-size:100% 100%;
    left: 10%;
    top: 93%;
    transform: translate(-10%, -93%);
}
#btnwind{
    position: absolute;
    width: 20vw;
    height: 9vh;
    background-image: url('img/002village/water_wind388_114.png');
    background-size:100% 100%;
    left: 20%;
    top: 50%;
    transform: translate(-30%, -55%);
}
#btnbio{
    position: absolute;
    /* width: 300px;
    height: 70px; */
    width: 25vw;
    height: 9vh;
    background-image: url('img/002village/bio484_114.png');
    background-size:100% 100%;
    left: 53%;
    top: 84%;
    transform: translate(-53%, -84%);
}
#btnsolar{
    position: absolute;
    /* width: 380px;
    height: 70px; */
    width: 28vw;
    height: 9vh;
    background-image: url('img/002village/solar612_114.png');
    background-size:100% 100%;
    left: 90%;
    top: 20%;
    transform: translate(-85%, -30%);
}

/* How to Popup */
.detialPh2{
    z-index: 1;
    position: absolute;
    /* top: -10px;
    left: -10px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: #D2E9D3;
    opacity: 1;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.detialPh2::-webkit-scrollbar {
    width: 0px;
}
#closehow2{
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: rgba(255, 0, 0, 0.50); */
    background-image: url('img/003how2/closebtn.png');
    background-size:100% 100%;
    top: 2%;
    right: 2%;
}
.ch2txt1{
    font-size: 4.5vw;
    color: #35A869;
}
#cthow2_1{
    position: absolute;
    /* width: 380px;
    height: 70px; */
    width: 26vw;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
}
#cthow2_2{
    position: absolute;
    /* width: 380px;
    height: 70px; */
    width: 34vw;
    height: 9vh;
    left: 50%;
    top: 19%;
    transform: translate(-50%, -19%);
}
#cthow2_31, #cthow2_41, #cthow2_51, #cthow2_61{
    position: absolute;
    /* width: 380px;
    height: 70px; */
    width: 18vw;
    height: 18vw;
    background-size:100% 100%;
}
#cthow2_31{
    background-image: url('img/003how2/how2_1.png');
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
#cthow2_41{
    background-image: url('img/003how2/how2_2.png');
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
}
#cthow2_51{
    background-image: url('img/003how2/how2_3.png');
    left: 50%;
    top: 160%;
    transform: translate(-50%, -50%);
}
#cthow2_61{
    background-image: url('img/003how2/how2_4.png');
    left: 50%;
    top: 210%;
    transform: translate(-50%, -50%);
}
#btnhow22{
    position: absolute;
    /* width: 460px;
    height: 140px; */
    width: 24vw;
    height: 8vw;
    background-image: url('img/000home/hpbtn1.png');
    background-size:100% 100%;
    top: 250%;
    left: 50%;
    transform: translate(-48%);
}

.ch2tx{
    position: absolute;
    font-size: 1.3vw;
    color: #35A869;
    left: 50%;
    transform: translate(-50%);
}
.t3{
    top: 80%;
}
.t4{
    top: 84%;
}
.t5{
    top: 130%;
}
.t6{
    top: 134%;
}
.t7{
    top: 180%;
}
.t8{
    top: 184%;
}
.t9{
    top: 230%;
}
.t10{
    top: 234%;
}
.t11{
    top: 238%;
}
/* Leaf */
#leaf1, #leaf2, #leaf3 {
    position: absolute;
    background-image: url('img/003how2/how2leaf.png');
    background-size:100% 100%;
}   
#leaf1{
    top: 45%;
    left: 65%;
    width: 130px;
    height: 110px;
    transform: rotate3d(1, -.8, 0, 3rad);
    visibility: hidden;
}

#leaf2{
    top: 230%;
    left: 65%;
    width: 130px;
    height: 110px;
    transform: rotate3d(1, -.8, 0, 3rad);
    visibility: hidden;
}

#leaf3{
    top: 140%;
    left: 20%;
    width: 140px;
    height: 110px;
    transform: scaleX(-1);
    visibility: hidden;
}

.freespace{
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 270%;
}

/* Ref & Setting */
.detialPref{
    z-index: 1;
    position: absolute;
    /* top: -10px;
    left: -10px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: #F3F0E7;
    opacity: 1;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.detialPref::-webkit-scrollbar {
    width: 0px;
}
#btnref{
    position: absolute;
    /* width: 460px;
    height: 140px; */
    width: 28.5vw;
    height: 6.5vw;
    background-image: url('img/002village/bio484_114.png');
    background-size:100% 100%;
    top: 140%;
    left: 48%;
    transform: translate(-48%);
}
.freespace2{
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 150%;
}
#ctref1_1{
    position: absolute;
    /* width: 590px;
    height: 264px; */
    width: 12vw;
    height: 6vw;
    top: 20%;
    left: 15%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#ctref1_2{
    position: absolute;
    /* width: 590px;
    height: 264px; */
    width: 28vw;
    height: 6vw;
    top: 29%;
    left: 15%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#ctref2_1{
    position: absolute;
    /* width: 590px;
    height: 264px; */
    width: 33vw;
    height: 8vw;
    top: 42%;
    left: 15%;
    /* background-color: rgba(0, 128, 0, 0.421); */
}
#ctref2_90daybanner{
    position: absolute;
    background-image: url('img/008ref_set/90days.png');
    background-size:100% 100%;
    /* width: 336px;
    height: 413px; */
    width: 14vw;
    height: 18vw;
    top: 18%;
    left: 63%;
}
#ctref3_1, #ctref3_2, #ctref3_3, #ctref3_4{
    position: absolute;
    background-size:100% 100%;
    width: 10vw;
    height: 14vw;
    top: 75%;
}
#ctref3_1{
    background-image: url('img/008ref_set/reficon1.png');
    left: 20%;
}
#ctref3_2{
    background-image: url('img/008ref_set/reficon2.png');
    left: 36%;
}
#ctref3_3{
    background-image: url('img/008ref_set/reficon2.png');
    left: 52%;
}
#ctref3_4{
    background-image: url('img/008ref_set/reficon2.png');
    left: 68%;
}
.ch2txt6{
    font-size: 1.7vw;;
}
#ctref4_1, #ctref4_2, #ctref4_3, #ctref4_4{
    position: absolute;
    text-align: center;
    top: 110%;
}
#ctref4_1{
    left: 17%;
}
#ctref4_2{
    left: 36%;
}
#ctref4_3{
    left: 52%;
}
#ctref4_4{
    left: 68.5%;
}
#ctref3_12, #ctref3_22, #ctref3_32, #ctref3_42{
    position: absolute;
    background-size:100% 100%;
    top: 65%;
    /* background-color: orange; */
    /* width: 50px;
    height: 50px; */
    width: 2.8vw;
    height: 2.8vw;
}
#ctref3_12{
    background-image: url('img/008ref_set/1icon.png');
    left: 23.6%;
}
#ctref3_22{
    background-image: url('img/008ref_set/2icon.png');
    left: 39.5%;
}
#ctref3_32{
    background-image: url('img/008ref_set/3icon.png');
    left: 55.5%;
}
#ctref3_42{
    background-image: url('img/008ref_set/4icon.png');
    left: 71.5%;
}
#refimg1_windmill{
    position: absolute;
    background-image: url('img/004wind/windmill.png');
    background-size:100% 100%;
    width: 27vw;
    height: 22vw;
    top: 15%;
    left: 35%;
    transform: translate(-5%, -35%);
}

#refimg3_light{
    position: absolute;
    background-image: url('img/008ref_set/lightbulb.png');
    background-size:100% 100%;
    width: 30vw;
    height: 30vw;
    top: 85%;
    left: 12%;
    transform: translate(-85%, -12%);
}


/* Button setting */

/* Wind */
#btnwinds{
    position: absolute;
    /* width: 20vw;
    height: 9vh; */
    width: 350px;
    height: 80px;
    top: 2150px;
    left: 250px;
    background-image: url('img/002village/water_wind388_114.png');
    background-size:100% 100%;
}
.btnset1{
    position: absolute;
    font-size: 30px;
    padding: 0;
    margin: 0;
    left: 30%;
    top: 53%;
    transform: translate(-20%, -53%);
    color: white;
}
#btnwinds :hover{
    cursor: pointer;
}

/* Water */
#btnwaters{
    position: absolute;
    /* width: 20vw;
    height: 9vh; */
    width: 350px;
    height: 80px;
    top: 2000px;
    left: 250px;
    background-image: url('img/002village/water_wind388_114.png');
    background-size:100% 100%;
}
.btnset2{
    position: absolute;
    font-size: 30px;
    padding: 0;
    margin: 0;
    left: 30%;
    top: 53%;
    transform: translate(-20%, -53%);
    color: white;
}
.freespacewater{
    position: absolute;
    top: 2050px;
    left: 250px;
    width: 100px;
    height: 100px;
}

/* Bio */
#btnbios{
    position: absolute;
    /* width: 20vw;
    height: 9vh; */
    top: 3430px;
    left: 220px;
    width: 380px;
    height: 70px;
    background-image: url('img/002village/bio484_114.png');
    background-size:100% 100%;
}
.btnset4{
    position: absolute;
    font-size: 30px;
    padding: 0;
    margin: 0;
    left: 20%;
    top: 50%;
    transform: translate(-8%, -50%);
    color: white;
}

/* Solar */
#btnsolars{
    position: absolute;
    /* top: 3400px;
    left: 250px; */
    top: 100px;
    /* left: 220px; */
    width: 400px;
    height: 70px;
    background-image: url('img/002village/solar612_114.png');
    background-size:100% 100%;
}
.btnset3{
    position: absolute;
    font-size: 30px;
    padding: 0;
    margin: 0;
    left: 13%;
    top: 50%;
    transform: translate(-4%, -50%);
    color: white;
}
.freespacesolar{
    position: absolute;
    top: 2050px;
    left: 250px;
    width: 100px;
    height: 100px;
}